* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background: linear-gradient(270deg, #31fa81 0%, #a939ff 100%);
}

.wrapper {
   margin-top: 40px;
   display: flex;
   justify-content: space-around;
   align-items: center;
   font-size: 30px;
   font-weight: 700;
   color: #fff;
}

.random {
   display: flex;
   justify-content: center;
}

#canvas{
   border: solid 1px black;
   margin: 20px;
}

.control {
   display: flex;
   justify-content: center;
   align-items: center;
}

.btn {
   font-size: 30px;
   font-weight: 700;
   padding: 5px 15px;
   border: solid 1px black;
   cursor: pointer;
   transition: 0.3s;
   background: #fff;
}

.btn:hover {
   border: solid 3px black;
}